<footer class="footer">
  <i class="fa-sharp fa-solid fa-circle-arrow-up"></i>
  <nav class="menu">
    <ul>
      <li>
        <include
          src="./link.html"
          className="menu_link"
          text="article"
          url="https://adalab.es"
        >
        </include>
      </li>
      <li>
        <include
          src="./link.html"
          className="menu_link"
          text="books"
          url="https://adalab.es"
        >
        </include>
      </li>
      <li>
        <include
          src="./link.html"
          className="menu_link"
          text="events"
          url="https://adalab.es"
        >
        </include>
      </li>
      <li>
        <include
          src="./link.html"
          className="menu_link"
          text="reasons"
          url="https://adalab.es"
        >
        </include>
      </li>
      <li>
        <include
          src="./link.html"
          className="menu_link"
          text="tips"
          url="https://adalab.es"
        >
        </include>
      </li>
    </ul>
  </nav>
  <nav class="rrss">
    <ul>
      <li>
        <include
          src="./link.html"
          className="menu_rrss"
          text="twitter"
          url="https://adalab.es"
        >
        </include>
      </li>
      <li>
        <include
          src="./link.html"
          className="menu_rrss"
          text="instagram"
          url="https://adalab.es"
        >
        </include>
      </li>
      <li>
        <include
          src="./link.html"
          className="menu_rrss"
          text="mastodon.social"
          url="https://adalab.es"
        >
        </include>
      </li>
    </ul>
  </nav>
  <small>
    <p>&copy; 2023</p>
    <p>
      we
      <i class="fa-sharp fa-solid fa-heart fa-beat" style="color: red"></i>
      components
    </p>
  </small>
</footer>
