  <div class="arrow">
    <a class="arrow__link"href="#hero" title="Go to hero section"><i class="fa-solid fa-arrow-up arrow__up"></i></a>
  </div>
  <div class="container-menu">
    <nav class="menu">
      <ul class="menu__ul">
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__link"
            text="articles"
            url="https://adalab.es"
          >
          </include>
        </li>
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__link"
            text="books"
            url="https://adalab.es"
          >
          </include>
        </li>
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__link"
            text="events"
            url="https://adalab.es"
          >
          </include>
        </li>
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__link"
            text="reasons"
            url="https://adalab.es"
          >
          </include>
        </li>
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__link"
            text="tips"
            url="https://adalab.es"
          >
          </include>
        </li>
      </ul>
    </nav>
    <nav class="rrss">
      <ul class="menu__ul">
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__rrss"
            text="twitter"
            url="https://adalab.es"
          >
          </include>
        </li>
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__rrss"
            text="instagram"
            url="https://adalab.es"
          >
          </include>
        </li>
        <li class="menu__list">
          <include
            src="./link.html"
            className="menu__rrss"
            text="mastodon.social"
            url="https://adalab.es"
          >
          </include>
        </li>
      </ul>
    </nav>
    <small class="copy">
      <p class="copy__year">&copy; 2023</p>
      <p class="copy__text">
        we
        <i class="fa-sharp fa-solid fa-heart fa-beat heart"></i>
        components
      </p>
    </small>
  </div>

