<section id="reasons" class="reasons">
  <h2 class="reasons__text">3 reasons to purchase</h2>
  <div class="articles">
    <include
      src="./reason.html"
      title="ut sed metus"
      description="lorem ipsum dolor sit amet, consecteur."
    >
    </include>
    <include
      src="./reason.html"
      title="curabitur ac erat"
      description="mauris mattis urna quis lorem molestie."
    >
    </include>
    <include
      src="./reason.html"
      title="morbi dictum"
      description="aliquam in dolor et dolor tincidunt."
    >
    </include>
  </div>
  <div class="articles-btn">
    <a class="articles-btn__btn" href=""><span class="articles-btn__btn--text">more reasons</span></a>
  </div>
</section>
