.arrow-link {
  text-decoration: none;
  transform: translatey(-50%);
}

.arrow-up {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  background-color: $white;
  color: $bright-orange;
}

.menu {
  margin-top: 15px;
  &__list {
    line-height: 30px;
    list-style-type: none;
    
  }
  &__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link,
  &__rrss {
    font-size: 1.6rem;
    color: $white;
    text-decoration: none;
    text-decoration-style: none;
    text-transform: uppercase;
  }
  &__link:hover,
  &__rrss:hover {
    color: $bright-orange;
  }
}
.rrss {
  margin-top: 30px;
  margin-bottom: 30px;
}

.copy {
  margin-bottom: 45px;
  font-family: $font-main;
  color: $white;
  line-height: 30px;
  text-align: center;
  &__year,&__text{
    font-size: 1.4rem;
    
  }
  .heart {
    color: $bright-orange;
  }
}
