.principal {
  font-family:$font-main ;
  margin: $margin-horizontal;

  &__tag {
    margin-top:30px;
    font-size: 1.4rem;
    line-height: 3.0rem;
    text-transform: capitalize;
    color:$lightblue;
  }
  &__title{
  font-family: $font-titles;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: capitalize;
  }
  &__description {
    margin-top:15px;
    font-size:1.8rem;
    line-height: 30px;
    color:$greyish-brown;
  }
  &__btn {
    margin-top:30px;
    margin-bottom: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 45px;
    border-radius:25px;
    border:2px solid $bright-orange;
    text-decoration: none;
    color:$bright-orange;
    font-size: 2.0rem;
    text-align: center;
    &:hover {
      background-color: $dark-grey-blue;
    }
  }
}