.reasons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  background-color: $ice-blue;
  @include tablet() {
    //repeat (1 columna, y que se ajuste al ancho del contenido)
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto auto auto;
  }

  &__text {
    margin-top: 30px;
    font-family: $font-titles;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    @include tablet() {
      grid-column: auto;
    }
  }
}
.articles {
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet() {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 45px;
    margin-bottom: 60px;
    grid-row: auto;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.articles-btn {
  display: flex;
  justify-content: center;
  @include tablet() {
    margin-left: 0px;
    margin-right: 0px;
    grid-row: 4/5;
  }
  &__btn {
    width: 184px;
    height: 45px;
    margin-top: 45px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 22.5px;
    background-color: $bright-orange;
    color: $white;

    &--text {
      font-size: 2rem;
      font-family: $font-main;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &:hover {
      background-color: $dark-grey-blue;
    }
  }
}
